[Unit]
Description=Back up Hermes state to GCS

[Service]
Type=oneshot
Environment=HOME=__HOME__
Environment=PATH=__HOME__/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=__HOME__/.local/bin/memory-backup.sh __WORKSPACE__ __BUCKET__
